<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="VOLTAR"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="titulo-trajetoria">
    <h1>Minha trajetória</h1>
  </div>

  <div class="texto-container">
    <h3>Sobre</h3>
    <p>
      Olá! Me Lucas Moura, estudante de Análise e Desenvolvimento de Sistemas. Minha conexão com a tecnologia nasceu cedo, motivada pela curiosidade de entender como os games que eu jogava eram construídos 'por baixo do capô'. 
      
      <br><br>O que começou como diversão se transformou em uma carreira. Hoje, sou movido pelo desafio de solucionar problemas complexos e entender a lógica por trás de cada funcionalidade. Tenho um perfil analítico e busco constantemente me atualizar com as tendências e inovações do mercado tecnológico. 
     
      <br><br>Atualmente, dedico meus estudos ao Back-end, focando na construção de arquiteturas sólidas e eficientes. Estou em busca da minha primeira oportunidade como estagiário, onde possa aplicar meus conhecimentos acadêmicos e contribuir com projetos reais enquanto evoluo como desenvolvedor.
      </p>
  </div>

</ion-content>